@model PaymentByDateReportViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="content-wrapper">
    <div class="col-md-12 grid-margin stretch-card pt-2">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Payment report</li>
                    </ol>
                </nav><br /><br />

                <form method="get">
                    <div class="form-row">
                        <div class="form-group col-md-1 font-weight-bold pt-1">
                            <label asp-for="DateFrom"></label>
                        </div>
                        <div class="form-group col-md-3 font-italic font-weight-bolder">
                            <input asp-for="DateFrom" class="form-control" date />
                        </div>
                        <div class="form-group col-md-1 pt-1">
                            <label asp-for="DateTo"></label>
                        </div>
                        <div class="form-group col-md-3">
                            <input asp-for="DateTo" class="form-control" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-rounded btn-primary float-left ml-2" style="width:100px">Accept</button>
                        </div>
                    </div>
                </form>

                <hr />


                @if (Model.Payments != null && Model.Payments.Count() > 0)
                {
                    <div class="dataTables_wrapper dt-bootstrap4">
                        <div class="row"><div class="col-sm-12 col-md-6"></div><div class="col-sm-12 col-md-6"></div></div><div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-hover dataTable" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th rowspan="1" colspan="1">
                                                Employee
                                            </th>
                                            <th rowspan="1" colspan="1">
                                                Payment Date
                                            </th>
                                            <th rowspan="1" colspan="1">
                                                Month
                                            </th>
                                            <th rowspan="1" colspan="1">
                                                Tax Year
                                            </th>
                                            <th rowspan="1" colspan="1">
                                                Total Earnings
                                            </th>
                                            <th rowspan="1" colspan="1">
                                                Total Deductions
                                            </th>
                                            <th rowspan="1" colspan="1">
                                                Net Payment
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Payments)
                                        {
                                            <tr role="row" class="odd">
                                                <td>@item.FullName</td>
                                                <td>@item.PayDate.ToString("dd/MM/yyyy")</td>
                                                <td>@item.PayMonth</td>
                                                <td>@item.Year</td>
                                                <td>@item.TotalEarnings.ToString("C")</td>
                                                <td>@item.TotalDeduction.ToString("c")</td>
                                                <td>@item.NetPayment.ToString("C")</td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                                </div><div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button page-item previous disabled" id="example2_previous">
                                                <!-- <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>-->
                                                <a asp-action="PaymentByDate" asp-route-pageNumber="@(Model.Payments.CurrentPage-1)" class="page-link">Previous</a>
                                            </li>
                                            <li class="paginate_button page-item active"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                                            <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                                            <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                                            <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                                            <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                                            <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                                            <li class="paginate_button page-item next" id="example2_next">
                                                <!--<a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a>-->
                                                <a asp-action="PaymentByDate" asp-route-pageNumber="@(Model.Payments.CurrentPage+1)" class="page-link">Next</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


