@{
    ViewData["Title"] = "Home Page";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
        <br />

        <div class="row">
            <div class="col-md-3">

                <!-- small box -->
                <div class="small-box bg-white">
                    <div class="inner">
                        <h3>@ViewBag.employeesNum</h3>

                        <p>Emolpyees</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-user"></i>
                    </div>
                    <a asp-controller="Employee" asp-action="Index" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-md-3">

                <!-- small box -->
                <div class="small-box bg-white">
                    <div class="inner">
                        <h3>@ViewBag.paymentRecords</h3>

                        <p>Payment Records</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-record-vinyl"></i>
                    </div>
                    <a asp-controller="Payment" asp-action="Index" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-md-3">
                <!-- small box -->
                <div class="small-box bg-white">
                    <div class="inner">
                        <h3>@ViewBag.avgHourlyRate $</h3>

                        <p>AVG (HourlyRate)</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-hourglass"></i>
                    </div>
                    <a asp-controller="Payment" asp-action="Index" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-md-3">
                <!-- small box -->
                <div class="small-box bg-white">
                    <div class="inner">
                        <h3>@ViewBag.avgOvertimeEarnings $</h3>

                        <p>AVG (Overtime Earnings)</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-dollar-sign"></i>
                    </div>
                    <a asp-controller="Payment" asp-action="Index" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title text-bold">Yearly Report</h3>
                    </div>
                    <div class="card-body">
                        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                    </div>
                </div>
            </div>

            @{ 
                var totalEarningsStatus = (ViewBag.avgPaymentsInfoPercent.AvgTotalEarningsPercent >= 0) ? "fa-caret-up" : "fa-caret-down";
                var netPaymentStatus = (@ViewBag.avgPaymentsInfoPercent.AvgNetPaymentPercent >= 0) ? "fa-caret-up" : "fa-caret-down";
                var totalDeductionStatus = (@ViewBag.avgPaymentsInfoPercent.AvgTotalDeduction >= 0) ? "fa-caret-up" : "fa-caret-down";
            }

            <div class="col-md-4">
                <div class="card" style="height: 455px;">
                    <div class="border-bottom" style="margin:0 60px;text-align:center;padding:27px;font-size: 40px;">
                        <i class="fa @totalEarningsStatus"></i> @ViewBag.avgPaymentsInfoPercent.AvgTotalEarningsPercent.ToString("n2") %
                        <h4>AVG (Total Earnings)</h4>
                    </div>
                    <div class="border-bottom" style="margin:0 60px ;text-align:center;padding:27px;font-size: 40px;">
                        <i class="fa @netPaymentStatus"></i> @ViewBag.avgPaymentsInfoPercent.AvgNetPaymentPercent.ToString("n2") %
                        <h4>AVG (Net Payments)</h4>
                    </div>
                    <div style="margin:0 60px;text-align:center;padding:27px;font-size: 40px;">
                        <i class="fa @totalDeductionStatus"></i> @ViewBag.avgPaymentsInfoPercent.AvgTotalDeduction.ToString("n2") %
                        <h4>AVG (Total Deduction)</h4>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</div>
<!-- /.content-wrapper -->

<script>
	window.onload = function () {

	var chart = new CanvasJS.Chart("chartContainer", {
		animationEnabled: true,
		title:{
			text: ""
		},
		axisY :{
			includeZero: false,
			prefix: "$"
		},
		toolTip: {
			shared: true
		},
		data: [{
			type: "splineArea",
            showInLegend: true,
            name: "AVG (Total Earnings)",
            yValueFormatString: "$#,##0",
			dataPoints: @Html.Raw(ViewBag.DataPointsAvgTotalEarningsYear)

 		},
		{
			type: "splineArea",
            showInLegend: true,
            name: "AVG (Total Deduction)",
			yValueFormatString: "$#,##0",
			dataPoints: @Html.Raw(ViewBag.DataPointsAvgTotalDeductionYear)

 		},
		{
			type: "splineArea",
            showInLegend: true,
            name: "AVG (Net Payment)",
			yValueFormatString: "$#,##0",
			dataPoints: @Html.Raw(ViewBag.DataPointsAvgNetPaymentYear)
 		}]
	});
	chart.render();

	}
</script>